.reset_form_button {
  border-color: purple !important;
  color: purple !important;
  background-color: white !important;
  width: 20%;
}

.reset_form_button:hover {
  border-color: purple !important;
  color: white !important;
  background-color: purple !important;
}

.submit_form_button {
  border-color: purple !important;
  color: white !important;
  background-color: purple !important;
  width: 20%;
}

.submit_form_button:hover {
  border-color: purple !important;
  color: purple !important;
  background-color: white !important;
}

.sort_movie_button {
  border-color: purple !important;
  color: white !important;
  background-color: purple !important;
}

.sort_movie_button:hover {
  border-color: purple !important;
  color: purple !important;
  background-color: white !important;
}

.card_movie_slider {
  flex-wrap: nowrap;
  overflow-x: scroll;
}

.pagination {
  margin: 15px auto;
  display: flex;
  justify-content: center;
  list-style: none;
  outline: none;
}
.pagination > .active > a {
  background-color: purple !important;
  border-color: purple !important;
  color: #fff;
}
.pagination > li > a {
  border: 1px solid purple !important;
  padding: 5px 10px;
  outline: none;
  cursor: pointer;
}
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  background-color: #ccd1d8;
  border-color: purple;
  outline: none;
}
.pagination > li > a,
.pagination > li > span {
  color: purple;
}
.pagination > li:first-child > a,
.pagination > li:first-child > span,
.pagination > li:last-child > a,
.pagination > li:last-child > span {
  border-radius: unset;
}

/* Responsive Website */

@media only screen and (max-width: 780px) {
  .form_manage_movie_position_1 {
    margin-top: 300px;
    margin-left: -100px;
  }

  .form_manage_movie_position {
    flex-direction: column;
  }

  .form_manage_movie_control {
    width: 95%;
  }

  .form_manage_movie_control_1 {
    width: 90%;
  }

  .submit_button_position {
    justify-content: start !important;
    margin-top: 10px;
  }

  .submit_form_button,
  .submit_form_button:hover {
    width: 40% !important;
  }

  .reset_form_button,
  .reset_form_button:hover {
    width: 40% !important;
  }

  .data_movie_row {
    margin-top: 20px !important;
    margin-left: -200px;
  }

  .data_movie_text {
    margin-left: 5px;
  }

  .data_movie_position {
    flex-direction: column;
  }
}
