.header_big_text_1 {
  color: purple;
}

.now_showing_text_1 {
  color: purple;
}

.now_showing_text_2 {
  text-align: right;
  color: purple !important;
  margin-right: 10%;
  text-decoration: none;
}

.upcoming_movie_text_1 {
  color: purple;
}

.button_month_1 {
  border-color: purple !important;
  color: purple !important;
  background-color: white !important;
  width: 110px;
}

.button_month_1:hover {
  border-color: purple !important;
  color: white !important;
  background-color: purple !important;
}

.jumbotron_big_text_1 {
  color: purple;
}

.join_button_1 {
  border-color: purple !important;
  color: white !important;
  background-color: purple !important;
}
