.footer_list {
  list-style-type: none;
  text-decoration: none;
  margin-top: 10%;
}

.footer_list_words {
  color: black;
  opacity: 50%;
  margin-top: 100%;
}

/* * Responsive Website * */

@media only screen and (max-width: 600px) {
  .footer_position {
    flex-direction: column;
  }

  .image_sponsor_position {
    margin-left: 35px;
  }
}
