.card_size {
  padding-right: 100px;
}

.now_showing_cards_image {
  width: 129%;
}

.image_detail_button {
  border-color: purple !important;
  color: purple !important;
  background-color: white !important;
  width: 140px;
}

.image_detail_button:hover {
  border-color: purple !important;
  color: white !important;
  background-color: purple !important;
}

.image_delete_button {
  width: 140px;
}

.image_size {
  width: 159px;
  height: 224px;
  object-fit: cover;
  text-align: center;
}

/* Responsive Website */

/* @media only screen and (max-width: 780px) {
  .now_showing_cards_image {
    width: 350%;
    margin-left: 100px;
  }
} */
