.book_now_button {
  border-color: purple !important;
  color: white !important;
  background-color: purple !important;
  width: 100%;
}

.book_now_button:hover {
  border-color: purple !important;
  color: purple !important;
  background-color: white !important;
}

.text_cursor {
  cursor: pointer;
}

/* Responsive Website */

@media only screen and (max-width: 600px) {
  .cinema_position_1 {
    flex-direction: column;
    text-align: center;
  }

  .cinema_position_2 {
    margin-top: 30px;
  }
}
