.previous_button {
  border-color: purple !important;
  color: purple !important;
  background-color: white !important;
  width: 30%;
}

.previous_button:hover {
  border-color: purple !important;
  color: white !important;
  background-color: purple !important;
  width: 30%;
}

.checkout_button {
  border-color: purple !important;
  color: white !important;
  background-color: purple !important;
  width: 35%;
}

.checkout_button:hover {
  border-color: purple !important;
  color: purple !important;
  background-color: white !important;
  width: 35%;
}

/* Responsive Website */

@media only screen and (max-width: 600px) {
  .right_column {
    margin-top: 50px;
    margin-left: -20px !important;
  }

  .payment_method_position {
    flex-wrap: nowrap;
  }

  .personal_information_form_control {
    width: 230%;
  }

  .checkout_button,
  .checkout_button:hover {
    width: 100%;
    margin-left: 45px;
  }

  .previous_button_position {
    display: none;
  }
}
